//
//  Alpha.xcconfig
//  CodeMaster
//
//  Created by Nevio Hirani on 17.09.23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CE_APPICON_NAME = AppIconAlpha
CE_VERSION_POSTFIX = -alpha
CE_COPYRIGHT = Copyright © 2023-2024 CodeMaster
